/* kumpulan nama warna */
/* https://id.wikipedia.org/wiki/Daftar_warna */

/* warna */
.abu-abu {
    color: #808080;
} 		
.biru{
    color:#0000FF
}
.biru-dongker {
    color: #000080;
}
.biru-laut {
    color: #00FFFF;
}
.coklat {
    color: #964B00;
}
.emas {
    color:#FFD700;
}
.hijau {
    color: #00FF00;
}
.hitam {
    color: #000000;
}
.kuning {
    color: #FFFF00;
}
.magenta {
    color:#FF00FF;
}
.mawar {
    color: #FF007F;
}
.merah {
    color: #FF0000;
}
.merah-marun {
    color: #800000;
}
.merah-jambu {
    color: #FFC0CB;
}
.nila {
    color: #6F00FF;
}
.jingga {
    color: #FF7F00;
}
.perak {
    color: #C0C0C0;
}
.putih {
    color: #FFFFFF;
}
.ungu {
    color: #BF00FF;
}
.violet {
    color: #8F00FF;
}
.zaitun {
    color: #808000;
}

/* warna latar */
.latar-abu-abu {
    background-color: #808080;
} 		
.latar-biru{
    background-color:#0000FF
}
.latar-biru-dongker {
    background-color: #000080;
}
.latar-biru-laut {
    background-color: #00FFFF;
}
.latar-coklat {
    background-color: #964B00;
}
.latar-emas {
    background-color:#FFD700;
}
.latar-hijau {
    background-color: #00FF00;
}
.latar-hitam {
    background-color: #000000;
}
.latar-kuning {
    background-color: #FFFF00;
}
.latar-magenta {
    background-color:#FF00FF;
}
.latar-mawar {
    background-color: #FF007F;
}
.latar-merah {
    background-color: #FF0000;
}
.latar-merah-marun {
    background-color: #800000;
}
.latar-merah-jambu {
    background-color: #FFC0CB;
}
.latar-nila {
    background-color: #6F00FF;
}
.latar-jingga {
    background-color: #FF7F00;
}
.latar-perak {
    background-color: #C0C0C0;
}
.latar-putih {
    background-color: #FFFFFF;
}
.latar-ungu {
    background-color: #BF00FF;
}
.latar-violet {
    background-color: #8F00FF;
}
.latar-zaitun {
    background-color: #808000;
}
